#history {
    margin: 0 40px;
}
.rt-tr-group:hover{
    background-color: #66c2ff;
    cursor: pointer;
}

:-ms-input-placeholder {
    color: #66c2ff;
}
.css-history-title{
    text-align: center;
    margin-top: 15px;
    margin-bottom:15px;
}