#history {
    margin: 0 40px;
}
.reactable-data tr:hover{
    background-color: #66c2ff;
    cursor: pointer;
}
.reactable-page-button {
    margin: 5px;
}
thead tr{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: default
}

:-ms-input-placeholder {
    color: #66c2ff;
}